.displaybox{
    -fx-border-width: 2px;
    -fx-border-type: solid;
    -fx-border-radius: 15px;
    -fx-font-size: 45px;
    -fx-text-fill: #fff;
    -fx-border-color: #ddd;
}

.calculator-digit{
    -fx-font-size: 24px;
}

.sepratoter{
    -fx-background-color: red;
}